<%- include("partials/header") %>

<div id="container">
		<h1>To-Do List <span id="toggleForm"><i class="far fa-edit"></i></span></h1>
		<form class="inlineForm" action="/hindi" method="POST">
			<input type="text" name="name" placeholder="movie name" />
		</form>
		<% hindiMovies.forEach(function(hindiMovie){%>
			
			<ul id = "myList">	
				<li>
					<form class="inlineForm" action="/hindi/<%=hindiMovie._id %>?_method=DELETE" method="POST">
						<button type="submit" >
							<i class="fas fa-trash"></i>
						</button>
					</form>
					<%=hindiMovie.name %>
				</li>
			</ul>
		<%})%>
	</div>



<%- include("partials/footer") %>